.header {
  width: 100%;


  .nav{
      width: 100%;
      display: block;
      font-size: 20px;  
      padding: 10px;

    .logo{
      width: 100px;
      margin-left: 35%;
      background-color: transparent;
    }
  }
}
.toolbar-content{
  display: flex;
}

.card_filme{
     width: 144px;
     height: 200px;
     border-radius: 20px;
     display: flex;
     gap: 20px;
     overflow: hidden;


     ion-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
     }
}

.footer{
  width: 100%;
  display: flex;
  align-items: center;
  background: #1D0606;

  .nav_footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  padding: 10px 10px;

  .user_icon{
    margin-left: 45%;
  }

}

}




